div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    min-width: 320px;
}

header{
    background-color: #122a57;
    color: white;
    height: 110px;
    display: flex;
    align-items: center;
 }

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

header .menu{
    display: flex;
}

.list-items li a{
    color: white;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122a57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px; 
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 20px;
    width: 90%;
    text-align: justify;
}

#quem-somos img{
    min-width: 420px;
}

.container-externo{
    background-color: #122a57;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

#servicos h2{
    color: white;
    font-size: 32px;
    margin-bottom: 50px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico{
    text-align: center;
    
}

.item-servico a{
    width: 220px;
    background-color: white;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: #122a57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.item-servico p{
    font-weight: 700;
    font-size: 17px;
    color: white;
    margin-top: 20px;
}

.item-servico img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.item-plano ul li::before{
    content: "";
    background-color: #122a57;
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

footer{
    background-color: #122a57;
    height: 85px;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
    color: white;
}

/* mobile*/

@media (max-width:992px){
    .flex-container{
        flex-direction: column;
        justify-content: space-between;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servico img{
        width: 50%;
        margin: auto;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

}